workflow.json
{"updatedAt":"2025-12-10T22:48:00.360Z","createdAt":"2025-12-10T16:37:39.603Z","id":"iKQVk11fmJSCZY7Z","name":"Simple Invoice PO Checker","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"has:attachment"},"options":{}},"id":"gmail-trigger","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-400,304],"credentials":{"gmailOAuth2":{"id":"DoH5ipbmJ3RhKXve","name":"Gmail account 1"}}},{"parameters":{"jsCode":"// Pass through ALL data including binary\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const email = item.json;\n  \n  // Extract sender email\n  let fromEmail = '';\n  if (typeof email.from === 'object' && email.from !== null) {\n    fromEmail = email.from.value?.[0]?.address || email.from.text || email.from.address || '';\n  } else {\n    fromEmail = email.from || '';\n  }\n  \n  // List all binary keys\n  const binaryKeys = item.binary ? Object.keys(item.binary) : [];\n  \n  results.push({\n    json: {\n      emailId: email.id,\n      from: fromEmail,\n      subject: email.subject || '',\n      textPlain: email.textPlain || email.text || '',\n      binaryKeys: binaryKeys,\n      hasBinary: binaryKeys.length > 0\n    },\n    binary: item.binary  // CRITICAL: pass binary through\n  });\n}\n\nreturn results;"},"id":"extract-data","name":"Extract Email Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,304]},{"parameters":{"promptType":"define","text":"=Voici les informations de l'email:\n- Sujet: {{ $json.subject }}\n- Expéditeur: {{ $json.from }}\n- Pièces jointes détectées: {{ $json.binaryKeys }}\n\nAnalyse l'image/document joint et extrais TOUTES les informations de la facture.\n\nRetourne UNIQUEMENT un objet JSON valide.","options":{"systemMessage":"# ROLE\nTu es un expert comptable OCR. Tu reçois une IMAGE de facture et tu dois extraire TOUTES les données visibles.\n\n# IMPORTANT\n- Une image de facture est jointe à ce message\n- Analyse VISUELLEMENT chaque zone de l'image\n- Extrais TOUTES les informations que tu peux VOIR\n\n# EXTRACTION\nPour chaque champ, lis attentivement l'image:\n- Numéro de facture: cherche \"Invoice #\", \"Facture N°\", \"N°\", \"#\"\n- Dates: cherche \"Date\", \"Due Date\", \"Echéance\"\n- Fournisseur: en-tête, logo, première adresse\n- Client: \"Bill To\", \"Facturer à\", deuxième bloc adresse\n- Lignes: tableau avec Description, Qty, Price, Amount\n- Totaux: Subtotal, Tax, Total, Amount Due\n- PO/BC: \"PO\", \"Purchase Order\", \"Bon de commande\"\n\n# OUTPUT FORMAT\n```json\n{\n  \"document_type\": \"invoice\",\n  \"invoice_number\": \"string\",\n  \"invoice_date\": \"YYYY-MM-DD\",\n  \"due_date\": \"YYYY-MM-DD ou null\",\n  \"supplier\": {\n    \"name\": \"string\",\n    \"address\": \"string\",\n    \"city\": \"string\",\n    \"phone\": \"string\",\n    \"email\": \"string\"\n  },\n  \"customer\": {\n    \"name\": \"string\",\n    \"address\": \"string\",\n    \"city\": \"string\"\n  },\n  \"references\": {\n    \"purchase_order\": \"string ou null\"\n  },\n  \"line_items\": [\n    {\"description\": \"string\", \"quantity\": 0, \"unit_price\": 0, \"total\": 0}\n  ],\n  \"amounts\": {\n    \"subtotal_ht\": 0,\n    \"total_vat\": 0,\n    \"total_ttc\": 0,\n    \"currency\": \"USD ou EUR\"\n  },\n  \"payment\": {\n    \"terms\": \"string\",\n    \"iban\": \"string ou null\"\n  },\n  \"metadata\": {\n    \"has_purchase_order\": true/false,\n    \"extraction_confidence\": 0-100\n  }\n}\n```\n\nRéponds UNIQUEMENT avec le JSON, rien d'autre.","maxIterations":3,"passthroughBinaryImages":true}},"id":"ocr-agent","name":"OCR Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[16,304]},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{"temperature":1}},"id":"openai-model","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,528],"credentials":{"openAiApi":{"id":"cpXOYyKJ54TqvOW1","name":"OpenAi account"}}},{"parameters":{"jsCode":"const item = $input.first();\nconst emailData = $('Extract Email Data').first().json;\nconst agentResult = item.json;\n\nlet ocr = null;\ntry {\n  const text = agentResult.output || agentResult.text || JSON.stringify(agentResult);\n  const jsonMatch = text.match(/```json\\s*([\\s\\S]*?)```/) || text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const jsonStr = jsonMatch[1] || jsonMatch[0];\n    ocr = JSON.parse(jsonStr);\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n}\n\nif (!ocr) {\n  ocr = { invoice_number: 'PARSE_ERROR', metadata: { has_purchase_order: false, extraction_confidence: 0 } };\n}\n\nreturn [{\n  json: {\n    email_id: emailData.emailId,\n    email_from: emailData.from,\n    email_subject: emailData.subject,\n    document_type: ocr.document_type || 'invoice',\n    invoice_number: ocr.invoice_number,\n    invoice_date: ocr.invoice_date,\n    due_date: ocr.due_date,\n    supplier_name: ocr.supplier?.name,\n    supplier_address: ocr.supplier?.address,\n    supplier_city: ocr.supplier?.city,\n    supplier_phone: ocr.supplier?.phone,\n    supplier_email: ocr.supplier?.email || emailData.from,\n    customer_name: ocr.customer?.name,\n    customer_address: ocr.customer?.address,\n    customer_city: ocr.customer?.city,\n    purchase_order: ocr.references?.purchase_order,\n    line_items: JSON.stringify(ocr.line_items || []),\n    line_items_count: (ocr.line_items || []).length,\n    subtotal_ht: ocr.amounts?.subtotal_ht || 0,\n    total_vat: ocr.amounts?.total_vat || 0,\n    total_ttc: ocr.amounts?.total_ttc || 0,\n    currency: ocr.amounts?.currency || 'EUR',\n    payment_terms: ocr.payment?.terms,\n    iban: ocr.payment?.iban,\n    has_purchase_order: ocr.metadata?.has_purchase_order === true,\n    extraction_confidence: ocr.metadata?.extraction_confidence || 0,\n    raw_ocr: JSON.stringify(ocr)\n  }\n}];"},"id":"parse-ocr","name":"Parse OCR Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,304]},{"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"false","singleValue":true},"leftValue":"={{ $json.has_purchase_order }}"}]},"options":{}},"id":"check-po","name":"Has PO?","type":"n8n-nodes-base.if","typeVersion":2,"position":[512,304]},{"parameters":{"sendTo":"={{ $json.supplier_email }}","subject":"=Action requise - PO manquant - Facture {{ $json.invoice_number }}","message":"=Bonjour,\n\nNous avons reçu votre facture:\n\n- Facture: {{ $json.invoice_number }}\n- Date: {{ $json.invoice_date }}\n- Montant: {{ $json.total_ttc }} {{ $json.currency }}\n- Fournisseur: {{ $json.supplier_name }}\n\n**Problème:** Aucun numéro de bon de commande (PO) trouvé.\n\nMerci de nous communiquer le numéro de PO pour traiter cette facture.\n\nCordialement,\nService Comptabilité","options":{}},"id":"send-reminder","name":"Send PO Reminder","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[752,208],"webhookId":"cca11ec3-d090-4621-86fb-a26c4514773c","credentials":{"gmailOAuth2":{"id":"DoH5ipbmJ3RhKXve","name":"Gmail account 1"}}},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"processed_with_po","type":"string"}]},"options":{}},"id":"set-success","name":"Log Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,400]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Extract Email Data","type":"main","index":0}]]},"Extract Email Data":{"main":[[{"node":"OCR Agent","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"OCR Agent","type":"ai_languageModel","index":0}]]},"OCR Agent":{"main":[[{"node":"Parse OCR Result","type":"main","index":0}]]},"Parse OCR Result":{"main":[[{"node":"Has PO?","type":"main","index":0}]]},"Has PO?":{"main":[[{"node":"Send PO Reminder","type":"main","index":0}],[{"node":"Log Success","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","executionTimeout":3600,"timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1765385905,"possibleDuplicates":["19b093325bda30b8"]}}},"meta":null,"pinData":{},"versionId":"31070ae7-68e7-4037-bcf3-8585b113f2c4","versionCounter":52,"triggerCount":1,"shared":[{"updatedAt":"2025-12-10T16:37:39.603Z","createdAt":"2025-12-10T16:37:39.603Z","role":"workflow:owner","workflowId":"iKQVk11fmJSCZY7Z","projectId":"s6KsNmq2vTmmfxJ5","project":{"updatedAt":"2025-12-10T07:13:28.215Z","createdAt":"2025-12-10T07:08:20.180Z","id":"s6KsNmq2vTmmfxJ5","name":"Merwan Mezrag <ulysseytak@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-10T07:08:20.180Z","createdAt":"2025-12-10T07:08:20.180Z","userId":"3b7ca51b-ae6b-4668-bf03-82010c18d690","projectId":"s6KsNmq2vTmmfxJ5","user":{"updatedAt":"2025-12-10T12:33:00.518Z","createdAt":"2025-12-10T07:08:19.339Z","id":"3b7ca51b-ae6b-4668-bf03-82010c18d690","email":"ulysseytak@gmail.com","firstName":"Merwan","lastName":"Mezrag","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-10T07:13:41.785Z","personalization_survey_n8n_version":"1.121.3","companyType":"systems-integrator"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"vMvJLhWCoh25yo4c","userActivatedAt":1765369980016},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-10","isPending":false}}]}}],"tags":[]}