workflow-invoice-processing.json
{
  "name": "POC Mailing - Invoice Processing",
  "nodes": [
    {
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "parameters": {
        "simple": false,
        "filters": {
          "q": "has:attachment"
        }
      }
    },
    {
      "id": "extract-attachments",
      "name": "Extract Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract email data and prepare for processing\nconst results = [];\n\nfor (const item of $input.all()) {\n  const email = item.json;\n  \n  // Build attachment list\n  const attachments = [];\n  if (item.binary) {\n    for (const [key, value] of Object.entries(item.binary)) {\n      attachments.push({\n        fileName: value.fileName || key,\n        mimeType: value.mimeType,\n        binaryKey: key\n      });\n    }\n  }\n  \n  results.push({\n    json: {\n      emailId: email.id,\n      messageId: email.messageId || email.id,\n      threadId: email.threadId,\n      from: email.from,\n      to: email.to,\n      subject: email.subject,\n      date: email.date,\n      snippet: email.snippet,\n      textPlain: email.textPlain || '',\n      textHtml: email.textHtml || '',\n      labels: email.labelIds || [],\n      attachments: attachments,\n      hasAttachments: attachments.length > 0\n    },\n    binary: item.binary\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "ai-classify-email",
      "name": "AI Classify Email",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [440, 300],
      "parameters": {
        "inputText": "={{ $json.subject }} - {{ $json.snippet }} - Attachments: {{ $json.attachments.map(a => a.fileName).join(', ') }}",
        "categories": {
          "categories": [
            {
              "category": "invoice",
              "description": "Email containing an invoice, bill, or payment request"
            },
            {
              "category": "purchase_order",
              "description": "Email containing a purchase order or order confirmation"
            },
            {
              "category": "contract",
              "description": "Email containing a contract or agreement document"
            },
            {
              "category": "reminder",
              "description": "Payment reminder or follow-up email"
            },
            {
              "category": "other",
              "description": "Any other type of email not related to invoices or orders"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert email classifier for a finance department. Classify emails based on their content and attachments. Focus on identifying invoices, purchase orders, contracts, and payment-related communications."
        }
      }
    },
    {
      "id": "switch-category",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [660, 300],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Invoice",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "invoice"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Purchase Order",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "purchase_order"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Other",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "invoice"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "check-duplicate",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [880, 200],
      "parameters": {
        "operation": "getAll",
        "projectId": "={{ $env.NOCODB_BASE_ID }}",
        "table": "={{ $env.NOCODB_INVOICES_TABLE }}",
        "options": {
          "where": "email_id,eq,{{ $('Extract Attachments').item.json.emailId }}"
        },
        "limit": 1
      }
    },
    {
      "id": "is-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.length || 0 }}",
              "rightValue": 0
            }
          ]
        }
      }
    },
    {
      "id": "log-duplicate",
      "name": "Log Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 100],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Log duplicate detection\nconst email = $('Extract Attachments').first().json;\n\nreturn [{\n  json: {\n    status: 'duplicate_skipped',\n    emailId: email.emailId,\n    subject: email.subject,\n    from: email.from,\n    timestamp: new Date().toISOString(),\n    message: 'Email already processed - skipping'\n  }\n}];"
      }
    },
    {
      "id": "ai-extract-invoice",
      "name": "AI Extract Invoice Data",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [1320, 300],
      "parameters": {
        "text": "=Email Subject: {{ $('Extract Attachments').item.json.subject }}\n\nEmail Body:\n{{ $('Extract Attachments').item.json.textPlain }}\n\nAttachments: {{ $('Extract Attachments').item.json.attachments.map(a => a.fileName).join(', ') }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"invoice_number\": {\n      \"type\": \"string\",\n      \"description\": \"Invoice number or reference\"\n    },\n    \"supplier_name\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the supplier/vendor\"\n    },\n    \"supplier_email\": {\n      \"type\": \"string\",\n      \"description\": \"Email of the supplier\"\n    },\n    \"invoice_date\": {\n      \"type\": \"string\",\n      \"description\": \"Date of the invoice (YYYY-MM-DD format)\"\n    },\n    \"due_date\": {\n      \"type\": \"string\",\n      \"description\": \"Payment due date (YYYY-MM-DD format)\"\n    },\n    \"total_amount\": {\n      \"type\": \"number\",\n      \"description\": \"Total amount of the invoice\"\n    },\n    \"currency\": {\n      \"type\": \"string\",\n      \"description\": \"Currency code (EUR, USD, etc.)\"\n    },\n    \"tax_amount\": {\n      \"type\": \"number\",\n      \"description\": \"Tax/VAT amount\"\n    },\n    \"purchase_order_number\": {\n      \"type\": \"string\",\n      \"description\": \"Associated purchase order number if mentioned\"\n    },\n    \"line_items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"description\": { \"type\": \"string\" },\n          \"quantity\": { \"type\": \"number\" },\n          \"unit_price\": { \"type\": \"number\" },\n          \"total\": { \"type\": \"number\" }\n        }\n      },\n      \"description\": \"List of line items on the invoice\"\n    },\n    \"payment_terms\": {\n      \"type\": \"string\",\n      \"description\": \"Payment terms mentioned\"\n    },\n    \"confidence_score\": {\n      \"type\": \"number\",\n      \"description\": \"Confidence level of extraction (0-100)\"\n    }\n  },\n  \"required\": [\"invoice_number\", \"supplier_name\", \"total_amount\"]\n}",
        "options": {
          "systemPromptTemplate": "You are an expert invoice data extractor. Extract all relevant information from the email and attachments. If information is not clearly present, leave it empty. Always try to identify the purchase order number if mentioned."
        }
      }
    },
    {
      "id": "check-po-exists",
      "name": "Check PO Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.output.purchase_order_number }}"
            },
            {
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.output.purchase_order_number }}"
            }
          ]
        }
      }
    },
    {
      "id": "prepare-invoice-with-po",
      "name": "Prepare Invoice (with PO)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare invoice data for storage - WITH Purchase Order\nconst extractedData = $input.first().json.output;\nconst originalEmail = $('Extract Attachments').first().json;\n\nreturn [{\n  json: {\n    // Email metadata\n    email_id: originalEmail.emailId,\n    message_id: originalEmail.messageId,\n    thread_id: originalEmail.threadId,\n    email_from: originalEmail.from,\n    email_subject: originalEmail.subject,\n    email_date: originalEmail.date,\n    \n    // Invoice data\n    invoice_number: extractedData.invoice_number || '',\n    supplier_name: extractedData.supplier_name || '',\n    supplier_email: extractedData.supplier_email || originalEmail.from,\n    invoice_date: extractedData.invoice_date || '',\n    due_date: extractedData.due_date || '',\n    total_amount: extractedData.total_amount || 0,\n    currency: extractedData.currency || 'EUR',\n    tax_amount: extractedData.tax_amount || 0,\n    purchase_order_number: extractedData.purchase_order_number || '',\n    line_items: JSON.stringify(extractedData.line_items || []),\n    payment_terms: extractedData.payment_terms || '',\n    \n    // Processing metadata\n    status: 'pending_validation',\n    po_status: 'linked',\n    confidence_score: extractedData.confidence_score || 0,\n    processed_at: new Date().toISOString(),\n    needs_review: extractedData.confidence_score < 80,\n    \n    // Attachments info\n    attachments: JSON.stringify(originalEmail.attachments)\n  }\n}];"
      }
    },
    {
      "id": "prepare-invoice-missing-po",
      "name": "Prepare Invoice (missing PO)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare invoice data for storage - MISSING Purchase Order\nconst extractedData = $input.first().json.output;\nconst originalEmail = $('Extract Attachments').first().json;\n\nreturn [{\n  json: {\n    // Email metadata\n    email_id: originalEmail.emailId,\n    message_id: originalEmail.messageId,\n    thread_id: originalEmail.threadId,\n    email_from: originalEmail.from,\n    email_subject: originalEmail.subject,\n    email_date: originalEmail.date,\n    \n    // Invoice data\n    invoice_number: extractedData.invoice_number || '',\n    supplier_name: extractedData.supplier_name || '',\n    supplier_email: extractedData.supplier_email || originalEmail.from,\n    invoice_date: extractedData.invoice_date || '',\n    due_date: extractedData.due_date || '',\n    total_amount: extractedData.total_amount || 0,\n    currency: extractedData.currency || 'EUR',\n    tax_amount: extractedData.tax_amount || 0,\n    purchase_order_number: '',\n    line_items: JSON.stringify(extractedData.line_items || []),\n    payment_terms: extractedData.payment_terms || '',\n    \n    // Processing metadata\n    status: 'pending_po',\n    po_status: 'missing',\n    confidence_score: extractedData.confidence_score || 0,\n    processed_at: new Date().toISOString(),\n    needs_review: true,\n    reminder_sent: false,\n    reminder_count: 0,\n    \n    // Attachments info\n    attachments: JSON.stringify(originalEmail.attachments)\n  }\n}];"
      }
    },
    {
      "id": "save-invoice-with-po",
      "name": "Save Invoice (with PO)",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [1980, 200],
      "parameters": {
        "operation": "create",
        "projectId": "={{ $env.NOCODB_BASE_ID }}",
        "table": "={{ $env.NOCODB_INVOICES_TABLE }}",
        "fieldsUi": {
          "fieldValues": [
            {"fieldName": "email_id", "fieldValue": "={{ $json.email_id }}"},
            {"fieldName": "message_id", "fieldValue": "={{ $json.message_id }}"},
            {"fieldName": "email_from", "fieldValue": "={{ $json.email_from }}"},
            {"fieldName": "email_subject", "fieldValue": "={{ $json.email_subject }}"},
            {"fieldName": "invoice_number", "fieldValue": "={{ $json.invoice_number }}"},
            {"fieldName": "supplier_name", "fieldValue": "={{ $json.supplier_name }}"},
            {"fieldName": "supplier_email", "fieldValue": "={{ $json.supplier_email }}"},
            {"fieldName": "invoice_date", "fieldValue": "={{ $json.invoice_date }}"},
            {"fieldName": "due_date", "fieldValue": "={{ $json.due_date }}"},
            {"fieldName": "total_amount", "fieldValue": "={{ $json.total_amount }}"},
            {"fieldName": "currency", "fieldValue": "={{ $json.currency }}"},
            {"fieldName": "tax_amount", "fieldValue": "={{ $json.tax_amount }}"},
            {"fieldName": "purchase_order_number", "fieldValue": "={{ $json.purchase_order_number }}"},
            {"fieldName": "status", "fieldValue": "={{ $json.status }}"},
            {"fieldName": "po_status", "fieldValue": "={{ $json.po_status }}"},
            {"fieldName": "confidence_score", "fieldValue": "={{ $json.confidence_score }}"},
            {"fieldName": "needs_review", "fieldValue": "={{ $json.needs_review }}"},
            {"fieldName": "processed_at", "fieldValue": "={{ $json.processed_at }}"}
          ]
        }
      }
    },
    {
      "id": "save-invoice-missing-po",
      "name": "Save Invoice (missing PO)",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [1980, 400],
      "parameters": {
        "operation": "create",
        "projectId": "={{ $env.NOCODB_BASE_ID }}",
        "table": "={{ $env.NOCODB_INVOICES_TABLE }}",
        "fieldsUi": {
          "fieldValues": [
            {"fieldName": "email_id", "fieldValue": "={{ $json.email_id }}"},
            {"fieldName": "message_id", "fieldValue": "={{ $json.message_id }}"},
            {"fieldName": "email_from", "fieldValue": "={{ $json.email_from }}"},
            {"fieldName": "email_subject", "fieldValue": "={{ $json.email_subject }}"},
            {"fieldName": "invoice_number", "fieldValue": "={{ $json.invoice_number }}"},
            {"fieldName": "supplier_name", "fieldValue": "={{ $json.supplier_name }}"},
            {"fieldName": "supplier_email", "fieldValue": "={{ $json.supplier_email }}"},
            {"fieldName": "invoice_date", "fieldValue": "={{ $json.invoice_date }}"},
            {"fieldName": "due_date", "fieldValue": "={{ $json.due_date }}"},
            {"fieldName": "total_amount", "fieldValue": "={{ $json.total_amount }}"},
            {"fieldName": "currency", "fieldValue": "={{ $json.currency }}"},
            {"fieldName": "tax_amount", "fieldValue": "={{ $json.tax_amount }}"},
            {"fieldName": "status", "fieldValue": "={{ $json.status }}"},
            {"fieldName": "po_status", "fieldValue": "={{ $json.po_status }}"},
            {"fieldName": "needs_review", "fieldValue": "={{ $json.needs_review }}"},
            {"fieldName": "reminder_sent", "fieldValue": "={{ $json.reminder_sent }}"},
            {"fieldName": "reminder_count", "fieldValue": "={{ $json.reminder_count }}"},
            {"fieldName": "processed_at", "fieldValue": "={{ $json.processed_at }}"}
          ]
        }
      }
    },
    {
      "id": "send-po-reminder",
      "name": "Send PO Reminder Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2200, 400],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Prepare Invoice (missing PO)').item.json.supplier_email }}",
        "subject": "=Action Required: Missing Purchase Order - Invoice {{ $('Prepare Invoice (missing PO)').item.json.invoice_number }}",
        "emailType": "html",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2>Purchase Order Required</h2>\n  \n  <p>Bonjour,</p>\n  \n  <p>Nous avons bien recu votre facture mais nous n'avons pas pu identifier le numero de bon de commande associe.</p>\n  \n  <div style=\"background: #f5f5f5; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n    <strong>Details de la facture:</strong><br>\n    <strong>Numero:</strong> {{ $('Prepare Invoice (missing PO)').item.json.invoice_number }}<br>\n    <strong>Fournisseur:</strong> {{ $('Prepare Invoice (missing PO)').item.json.supplier_name }}<br>\n    <strong>Montant:</strong> {{ $('Prepare Invoice (missing PO)').item.json.total_amount }} {{ $('Prepare Invoice (missing PO)').item.json.currency }}<br>\n    <strong>Date:</strong> {{ $('Prepare Invoice (missing PO)').item.json.invoice_date }}\n  </div>\n  \n  <p><strong>Action requise:</strong> Merci de nous communiquer le numero de bon de commande correspondant a cette facture en repondant a cet email.</p>\n  \n  <p>Sans ce numero, nous ne pourrons pas proceder au traitement de votre facture.</p>\n  \n  <p>Cordialement,<br>\n  Service Comptabilite</p>\n</body>\n</html>",
        "options": {
          "replyTo": "={{ $env.FINANCE_REPLY_EMAIL }}"
        }
      }
    },
    {
      "id": "update-reminder-status",
      "name": "Update Reminder Status",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [2420, 400],
      "parameters": {
        "operation": "update",
        "projectId": "={{ $env.NOCODB_BASE_ID }}",
        "table": "={{ $env.NOCODB_INVOICES_TABLE }}",
        "id": "={{ $('Save Invoice (missing PO)').item.json.Id }}",
        "fieldsUi": {
          "fieldValues": [
            {"fieldName": "reminder_sent", "fieldValue": "true"},
            {"fieldName": "reminder_count", "fieldValue": "1"},
            {"fieldName": "last_reminder_date", "fieldValue": "={{ new Date().toISOString() }}"}
          ]
        }
      }
    },
    {
      "id": "log-processed-with-po",
      "name": "Log Success (with PO)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Log successful processing with PO\nconst invoice = $('Prepare Invoice (with PO)').first().json;\n\nreturn [{\n  json: {\n    status: 'success',\n    message: 'Invoice processed successfully with linked PO',\n    invoice_number: invoice.invoice_number,\n    supplier: invoice.supplier_name,\n    amount: invoice.total_amount,\n    currency: invoice.currency,\n    po_number: invoice.purchase_order_number,\n    processed_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "store-other-emails",
      "name": "Store Other Emails",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [880, 500],
      "parameters": {
        "operation": "create",
        "projectId": "={{ $env.NOCODB_BASE_ID }}",
        "table": "={{ $env.NOCODB_OTHER_EMAILS_TABLE }}",
        "fieldsUi": {
          "fieldValues": [
            {"fieldName": "email_id", "fieldValue": "={{ $('Extract Attachments').item.json.emailId }}"},
            {"fieldName": "email_from", "fieldValue": "={{ $('Extract Attachments').item.json.from }}"},
            {"fieldName": "email_subject", "fieldValue": "={{ $('Extract Attachments').item.json.subject }}"},
            {"fieldName": "email_date", "fieldValue": "={{ $('Extract Attachments').item.json.date }}"},
            {"fieldName": "category", "fieldValue": "={{ $json.output }}"},
            {"fieldName": "processed_at", "fieldValue": "={{ new Date().toISOString() }}"}
          ]
        }
      }
    },
    {
      "id": "azure-openai-model",
      "name": "Azure OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [540, 520],
      "parameters": {
        "model": "gpt-4o"
      }
    },
    {
      "id": "azure-openai-model-2",
      "name": "Azure OpenAI Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [1420, 520],
      "parameters": {
        "model": "gpt-4o"
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{"node": "Extract Attachments", "type": "main", "index": 0}]]
    },
    "Extract Attachments": {
      "main": [[{"node": "AI Classify Email", "type": "main", "index": 0}]]
    },
    "AI Classify Email": {
      "main": [[{"node": "Route by Category", "type": "main", "index": 0}]]
    },
    "Route by Category": {
      "main": [
        [{"node": "Check Duplicate", "type": "main", "index": 0}],
        [{"node": "Check Duplicate", "type": "main", "index": 0}],
        [{"node": "Store Other Emails", "type": "main", "index": 0}]
      ]
    },
    "Check Duplicate": {
      "main": [[{"node": "Is Duplicate?", "type": "main", "index": 0}]]
    },
    "Is Duplicate?": {
      "main": [
        [{"node": "Log Duplicate", "type": "main", "index": 0}],
        [{"node": "AI Extract Invoice Data", "type": "main", "index": 0}]
      ]
    },
    "AI Extract Invoice Data": {
      "main": [[{"node": "Check PO Exists", "type": "main", "index": 0}]]
    },
    "Check PO Exists": {
      "main": [
        [{"node": "Prepare Invoice (with PO)", "type": "main", "index": 0}],
        [{"node": "Prepare Invoice (missing PO)", "type": "main", "index": 0}]
      ]
    },
    "Prepare Invoice (with PO)": {
      "main": [[{"node": "Save Invoice (with PO)", "type": "main", "index": 0}]]
    },
    "Prepare Invoice (missing PO)": {
      "main": [[{"node": "Save Invoice (missing PO)", "type": "main", "index": 0}]]
    },
    "Save Invoice (with PO)": {
      "main": [[{"node": "Log Success (with PO)", "type": "main", "index": 0}]]
    },
    "Save Invoice (missing PO)": {
      "main": [[{"node": "Send PO Reminder Email", "type": "main", "index": 0}]]
    },
    "Send PO Reminder Email": {
      "main": [[{"node": "Update Reminder Status", "type": "main", "index": 0}]]
    },
    "Azure OpenAI Model": {
      "ai_languageModel": [[{"node": "AI Classify Email", "type": "ai_languageModel", "index": 0}]]
    },
    "Azure OpenAI Model 2": {
      "ai_languageModel": [[{"node": "AI Extract Invoice Data", "type": "ai_languageModel", "index": 0}]]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Europe/Paris"
  }
}
